<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="app">
        {{ msg }}
        <input type="text" v-model='msg'/>
        <input type="text" v-model='userInfo.name'/>
        <input type="text" v-model='name'/>
        <input type="range" min=0 max=199 v-model='userInfo.age'/>
        name: {{userInfo.name}} age: {{userInfo.age}} {{ infoMsg }}
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
        const { createApp, ref, reactive, toRef, watch, watchEffect, computed} = Vue
        const app = createApp({
            setup(){
                let msg = ref("hello")
                let userInfo = reactive({
                    name: '',
                    age: 18
                })
                watch(msg, (v)=>{
                    console.log(`msg changed to ${v}`)
                })
                watchEffect(()=>{
                    console.log("watchEffect...")
                    console.log(`Hey! My name is ${userInfo.name}`)
                })
                let infoMsg = computed(() => {
                    return `My name is ${userInfo.name}. My age is ${userInfo.age}, and I want to say ${ msg.value }`
                })
                let name = toRef(userInfo, 'name')
                return { msg, userInfo, name, infoMsg }
            }
        })
        const vm = app.mount("#app")
    </script>
</body>
</html>